<ActionBar class="action-bar" style="background-color:#D5093E">
    <Image src="~/images/bslogo.png"></Image>
</ActionBar>
<StackLayout>

    <GridLayout
            backgroundColor = ""
            row="0"
            col="0"
            class="m-20"
            rows="50"
            columns="50 * 40">
        <Image
                row="0"
                col="0" src="~/images/boobs.png"
                class="rounded-circle"
                borderRadius="100%"
                verticalAlignment="center"
                horizontalAlignment="left"
                stretch="aspectFill"
                style="width: 150px; height: 150px;">
        </Image>
        <Slider
                row="1"
                col="1"
                value="5"
                minValue="0"
                maxValue="10"
                margin = "10">
        </Slider>
    </GridLayout>

    <GridLayout
            backgroundColor = ""
            row="0"
            col="0"
            class="m-20"
            rows="50"
            columns="50 * 40">
        <Image
                row="0"
                col="0" src="~/images/pompis.png"
                class="rounded-circle"
                borderRadius="100%"
                verticalAlignment="center"
                horizontalAlignment="left"
                stretch="aspectFill"
                style="width: 150px; height: 150px;">
        </Image>
        <Slider
                row="1"
                col="1"
                value="5"
                minValue="0"
                maxValue="10"
                margin = "10">
        </Slider>
    </GridLayout>

    <GridLayout
            backgroundColor = ""
            row="0"
            col="0"
            class="m-20"
            rows="50"
            columns="50 * 40">
        <Image
                row="0"
                col="0" src="~/images/cintura.png"
                class="rounded-circle"
                borderRadius="100%"
                verticalAlignment="center"
                horizontalAlignment="left"
                stretch="aspectFill"
                style="width: 150px; height: 150px;">
        </Image>
        <Slider
                row="1"
                col="1"
                value="5"
                minValue="0"
                maxValue="10"
                margin = "10">
        </Slider>
    </GridLayout>

    <GridLayout
            backgroundColor = ""
            row="0"
            col="0"
            class="m-20"
            rows="50"
            columns="50 * 40">
        <Image
                row="0"
                col="0" src="~/images/eye.png"
                class="rounded-circle"
                borderRadius="100%"
                verticalAlignment="center"
                horizontalAlignment="left"
                stretch="aspectFill"
                style="width: 150px; height: 150px;">
        </Image>
        <Slider
                row="1"
                col="1"
                value="5"
                minValue="0"
                maxValue="10"
                margin = "10">
        </Slider>
    </GridLayout>

    <Button
            text="Generar Busqueda"
            (tap) = "index()"
            class="my-button">

    </Button>
</StackLayout>
